body {
    background: #e7e7e7;
    /*cor de fundo do body*/
    font-family: Arial, Helvetica, sans-serif;
    /*mudando a fonte do texto*/
    margin: 40px;
    /*usado para desgrudar um pouci da tela*/
}

.titulo1 {
    text-align: center;
    /*alinhando o primeiro titulo*/
}

.flex {
    display: flex;
    /*declarando que aquela div é uma flexbox*/
    gap: 20px;
    /*tem a mesma função do margin (espaçamento entre os elementos) mas é usado no flexbox*/
    justify-content: center;
    /*usado para deixar o flexbox no meio do body*/
}

.titulo2 {
    background: #ffffff;
    /*cor de fundo do titulo3*/
    border-radius: 4px;
    /*deixa a borda da caixinha arredondada*/
    padding: 15px;
    /*aumenta o tamanho da caixa*/
    margin: 0px;
}

.vermais {
    background: orangered;
    color: #e7e7e7;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    grid-column: auto;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
}
